.root {
  color: #777;
  position: relative;
  opacity: 0.9;
  background-image: none;
  background-color: #000000;
  background-position: 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  box-shadow: inset 0.71px 0.71px black;
  top: 100px;
  bottom: 100px;
}
.fImg {
  width: 100%;
}
.detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 20px;
  font-weight: 500;
}
.delete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  opacity: 0.2;
}
.delete {
  height: 50px;
  opacity: 1;
  &:hover {
    opacity: 1;
  }
  width: 50px;
  gap: 1px;
  margin: 1px;
  padding: 1px;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  top: 100px;
  left: 60px;
  background-color: #6e3636;
}
.delete {
}
.detele {
  position: absolute;
  left: 100px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-items: center;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  opacity: 1;
  top: 200px;
}
